<form id="newMemberForm" name="newMemberForm" novalidate>
    <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="first_name" class="form-control" ng-class="{'field-invalid': !newMemberForm.first_name.$pristine && newMemberForm.first_name.$invalid}"
            ng-model="vm.newMember.first_name" placeholder="{{vm.user && vm.user.first_name? vm.user.first_name : 'Enter first name'}}" required>
    </div>
    <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" id="last_name" ng-model="vm.newMember.last_name" placeholder="Enter last name" required>
    </div>
    <div class="form-group" ng-if="vm.showEmailAndPasswordFields">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" ng-model="vm.newMember.email" placeholder="{{vm.user && vm.user.last_name ? vm.user.last_name : 'Enter email'}}"
            required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group" ng-if="vm.showEmailAndPasswordFields">
        <label for="password">Password</label>
        <div class="form-group input-and-message">
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" ng-focus="vm.setFocusedField('newMemberForm', 'password')"
                ng-blur="vm.resetFocusedField()" ng-class="[{'field-invalid': newMemberForm.password.$invalid
                                                                && (!newMemberForm.password.$pristine || newMemberForm.password.$touched)
                                                                && vm.focused_field['newMemberForm']['password'] === false}]"
                ng-model="vm.newMember.password" placeholder="Enter Password" required>
            <small id="passwordError" class="form-text text-error" ng-show="newMemberForm.password.$invalid && 
                                            (!newMemberForm.password.$pristine || newMemberForm.password.$touched) && 
                                            vm.focused_field['newMemberForm']['password'] === false">
                                    Invalid Password
                            </small>
        </div>
        <small id="passwordHelp" class="form-text text-muted">Minimum of 6 characters</small>
    </div>
    <div class="form-group" ng-if="vm.showEmailAndPasswordFields">
        <label for="password_confirmation">Password Confirmation</label>
        <div class="form-group input-and-message">
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" ng-focus="vm.setFocusedField('newMemberForm', 'password_confirmation')"
                ng-blur="vm.resetFocusedField()" ng-class="[{'field-invalid': newMemberForm.password_confirmation.$invalid
                                                              && (!newMemberForm.password_confirmation.$pristine || newMemberForm.password_confirmation.$touched)
                                                              && vm.focused_field['newMemberForm']['password_confirmation'] === false}]"
                ng-model="vm.newMember.password_confirmation" placeholder="Confirm Password" required>
            <small id="pwConfError" class="form-text text-error" ng-show="(newMemberForm.password_confirmation.$invalid || vm.newMember.password !== vm.newMember.password_confirmation)
                                    && (!newMemberForm.password_confirmation.$pristine || newMemberForm.password_confirmation.$touched) && 
                                            vm.focused_field['newMemberForm']['password_confirmation'] === false">
                                    Invalid Password Confirmation or Password and Confirmation do not Match
                            </small>
        </div>
        <!--<small id="passwordConfHelp" class="form-text text-muted">{{vm.passwordConfMessage}}</small>-->
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="vm.showEmailAndPasswordFields" />
        <label for="add_email">Add email and password to login from anywhere <em>(optional)</em></label>
    </div>
</form>