<div id="userProfile">
    <div class="board-title">
        <span>{{vm.user.first_name + ' ' + vm.user.last_name}}</span>
    </div>
    <uib-tabset>
        <uib-tab index="$index" ng-repeat="tab in vm.tabs" heading="{{tab.title}}" ng-if="true" select="vm.setTab($index)"></uib-tab>
        <span id="createTeamButton" class="btn btn-primary" 
                ng-click="vm.showCreateTeamModal()"
                ng-show="vm.showCreateTeamButton">
                Create Team
        </span>
        <board display-obj-data="vm.displayObjData" display-obj-config="vm.displayConfig" row-callback="vm.rowCallback">
    </uib-tabset>
</div>