<form id="newTeamForm" name="newTeamForm" novalidate>
    <div class="form-group">
        <label for="name">Team Name</label>
        <input type="text" id="name" name="name" class="form-control" ng-class="{'field-invalid': !newTeamForm.name.$pristine && newTeamForm.name.$invalid}"
            ng-model="vm.newTeam.name" placeholder="Enter Team Name" required>
    </div>
    <div class="form-group">
        <label for="location">Team Location (City, State)</label>
        <input type="text" class="form-control" id="location" ng-model="vm.newTeam.location" placeholder="Enter Location" required>
    </div>
    <div class="form-group">
        <label for="contact_email">Email address</label>
        <input type="email" class="form-control" id="contact_email" aria-describedby="emailHelp" ng-model="vm.newTeam.contact_email"
            placeholder="Enter Contact Email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
</form>