<div id="login-container">
    <span class="title">Miles Board</span>
    <span class="subtitle">View and Track Runs with your Teams</span>
    <uib-tabset active="vm.tab" id="tabs-container">
        <uib-tab index="0" heading="Login" ng-if="true" select="vm.setTab(0)">
            <ng-include src="'components/login/_loginForm.html'"></ng-include>
        </uib-tab>
        <uib-tab index="1" heading="Register" ng-if="true" select="vm.setTab(1)">
            <ng-include src="'components/login/_registerForm.html'"></ng-include>
        </uib-tab>
        <uib-tab index="2" ng-if="true" heading="" class="hidden-tab">
            <ng-include src="'components/login/_resendConfirmationEmail.html'"></ng-include>
            <span class='btn btn-primary' ng-click='vm.handleSubmitClick()'>Send</span>
        </uib-tab>
    </uib-tabset>
</div>