<form id="loginForm" name="loginForm">
    <div class="form-group">
        <label for="email">Email</label>
        <div class="input-and-message">
            <input id="email" type="email" name="email" class="form-control" 
                                                        ng-focus="vm.setFocusedField('loginForm', 'email')"
                                                        ng-blur="vm.resetFocusedField()"
                                                        ng-class="[{'field-invalid': loginForm.email.$invalid && 
                                                                                    !loginForm.email.$pristine &&
                                                                                    vm.focused_field['loginForm']['email'] === false}]" 
                                                        ng-model="vm.user_info.email" 
                                                        aria-describedby="emailHelp"
                                                        placeholder="Enter email"
                                                        required >
            <small id="emailError" class="form-text text-error"
                    ng-show="loginForm.email.$invalid && 
                            !loginForm.email.$pristine && 
                            vm.focused_field['loginForm']['email'] === false">
                    Invalid Email Format
            </small>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <div class="input-and-message">
            <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp" 
                ng-model="vm.user_info.password"
                ng-focus="vm.setFocusedField('loginForm', 'password')" 
                ng-blur="vm.resetFocusedField()" 
                ng-class="[{'field-invalid': loginForm.password.$invalid && 
                                            loginForm.password.$touched && 
                                            vm.focused_field['loginForm']['password'] === false}]"
                placeholder="Enter Password"
                required>
                <small id="passwordError" class="form-text text-error"
                        ng-show="loginForm.password.$invalid &&  
                                loginForm.password.$touched && 
                                vm.focused_field['loginForm']['password'] === false">
                                Please Enter Your Password
                </small>
        </div>
            
    </div>
    <button type="submit" class='btn btn-primary' ng-click='vm.handleSubmitClick()' ng-disabled="vm.tab === 0 && loginForm.$invalid">Submit</button>
    <span ng-click="vm.setTab(2)" class="pull-right"><a>Resend Confirmation Email</a></span>
</form>