<flash-message name="resetform_flash"></flash-message>
<form id="resetPasswordForm" name="resetPasswordForm">
    <div class="form-group">
        <label for="email">Email Address of Account to Reset Password</label>
        <div class="form-group input-and-message">
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" ng-focus="vm.setFocusedField('resetPasswordForm', 'email')"
                ng-blur="vm.resetFocusedField()" ng-class="[{'field-invalid': resetPasswordForm.email.$invalid
                                                            && (!resetPasswordForm.email.$pristine || resetPasswordForm.email.$touched)
                                                            && vm.focused_field['resetPasswordForm']['email'] === false}]"
                ng-model="vm.user_info.email" placeholder="Enter email" required>
            <small id="emailError" class="form-text text-error" ng-show="resetPasswordForm.email.$invalid && 
                             (!resetPasswordForm.email.$pristine || resetPasswordForm.email.$touched) && 
                            vm.focused_field['resetPasswordForm']['email'] === false">
                    Invalid Email
            </small>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <button type="submit" class='btn btn-primary' ng-click='vm.handleSubmitClick()' ng-disabled="vm.registered === true || !vm.user_info.email">Submit</button>
    <span class='btn btn-primary' ng-if="vm.inModal === true" ng-click='vm.setTab(0)'> Cancel</span>
</form>