<div id="createTabModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body createTab-container">
                <form id="createTabForm" name="createTabForm">
                    <div class="input-and-message">
                        <label for="tab_heading">Tab Heading</label>
                        <input id="tab_heading" type="text" name="tab_heading" class="form-control" ng-class="" ng-model="vm.newTab.heading" placeholder="Enter Tab Title"
                            required>
                    </div>
                    <span>Show Team Members with<span>
                    <custom-filter index="0" object-type='team' field-change="vm.setFilterField" comparator-change='vm.setComparator' value-change='vm.setValue' show-filter-field='true'></custom-filter>
                    <div><span>AND</span></div>
                    <custom-filter index="1" object-type='team' field-change="vm.setFilterField" comparator-change='vm.setComparator' value-change='vm.setValue' show-filter-field='false'></custom-filter>
                    <div id="form-actions">
                        <button type="submit" class='btn btn-primary' ng-click='vm.save()' ng-disabled="vm.tab === 0 && createTabForm.$invalid">Submit</button>
                        <button class='btn btn-primary' ng-click='vm.handleCancel()'> Close</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->