<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Miles Board, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to milesboard.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= confirmation_url(@user, confirmation_token: @token) %>.
    </p>
    <p>Thanks for joining and have a great day!</p>

    </body>
</html>