<div id="userProfileModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.close()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Run Details</h4>
            </div>
            <div class="modal-body">
                <div id="userProfile" class="row profile_modal">
                    <div class="board-title" class="col-sm-12">
                        <span>{{vm.user.first_name + ' ' + vm.user.last_name}}</span>
                    </div>
                    <section id="user-info" class="col-sm-3">
                        <div id='profile_image'>
                            <img ng-src="{{vm.profileImageSrc}}" />
                        </div>
                        <span id="updateEmailButton" class="btn btn-primary" ng-click="vm.showNewMemberForm = true" ng-show="vm.showUpdateEmailButton">
                            Update Email
                        </span>
                        <uib-tabset>
                            <uib-tab ng-repeat="tab in vm.tabs" ng-click="vm.setTab($index)" heading="{{tab.title}}" ng-hide='tab.hidden'></uib-tab>
                            <board class="small" display-obj-data="vm.teams_board_display.displayObjData" display-obj-config="vm.teams_board_display.displayConfig" 
                                row-callback="vm.rowCallback"></board>
                        </uib-tabset>
                    </section>
                    <section id='user-runs-board' class="col-sm-9">
                        <board display-obj-data="vm.runs_board_display.displayObjData" display-obj-config="vm.runs_board_display.displayConfig" row-callback="vm.rowCallback">
                    </section>
                </div>
                <div id="newMemberForm-container" ng-show="vm.showNewMemberForm" >
                     <ng-include src="'components/modals/newMemberModal/_newMemberForm.html'"></ng-include>
                </div>
                <div id="createTeamForm-container" ng-show="vm.showCreateTeamForm">
                    <ng-include src="'components/modals/CreateTeamModal/_createTeamForm.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>