<div id="loginModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body login-container">
                <uib-tabset active="vm.tab" id="tabs-container">
                    <uib-tab index="0" heading="Login" ng-hide="(vm.tab === 2 || vm.tab === 3) && vm.inModal === true" select="vm.setTab(0)" class="{{vm.tab === 1 ? 'inactive' : ''}}">
                        <ng-include src="'components/login/_loginForm.html'"></ng-include>
                    </uib-tab>
                    <uib-tab index="1" heading="Register" ng-hide="(vm.tab === 2 || vm.tab === 3) && vm.inModal === true" select="vm.setTab(1)" class="{{vm.tab === 0 ? 'inactive' : ''}}">
                        <ng-include src="'components/login/_registerForm.html'"></ng-include>
                    </uib-tab>
                    <uib-tab index="2" ng-if="true" heading="" class="hidden-tab">
                        <ng-include src="'components/login/_resendConfirmationEmail.html'"></ng-include>
                    </uib-tab>
                    <uib-tab index="3" ng-if="true" heading="" class="hidden-tab">
                        <ng-include src="'components/login/_resetPassword.html'"></ng-include>
                    </uib-tab>
                </uib-tabset>
                <flash-message name="loginModal_flash"></flash-message>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->