<div id="team">
    <flash-message name="team_flash"></flash-message>
    <div id="team_header" class="board-title">
        <span ng-show="vm.logoSrc === null">{{vm.team.name}}</span>
        <div id='logo_img_container'>
            <img id='logo_img'  no-image-src='vm.setLogo()' ng-src="{{vm.logoSrc}}" ng-hide="!vm.logoSrc"/>
        </div>
        <div class='board-header-btn-container'>
            <div class="btn-group">
                <button type="button" class="btn btn-primary addMemberBtn" ng-click="vm.showAddTeamMemberModal()" ng-show='vm.isTeamOwner'>
                    Add Team Member
                </button>
                <button type="button" class="btn btn-primary addMemberBtn" ng-click="vm.showAddTeamOwnerModal()" ng-show='vm.isTeamOwner'>
                    Add Team Owner
                </button> 
            </div>
        </div>
    </div>
    <uib-tabset>
        <uib-tab index="0" heading="All" ng-click="vm.showFilteredTable(0)" ng-show="vm.team.custom_tabs.length > 0"></uib-tab>
        <uib-tab index="$index+1" ng-repeat="tab in vm.team.custom_tabs" heading="{{tab.heading}}" ng-click="vm.showFilteredTable($index+1)"></uib-tab>
        <uib-tab index="vm.team.custom_tabs.length+2" heading="Add Tab" ng-click="vm.showCustomTabsModal('add')" ng-if="vm.isTeamOwner" class="action-tab"></uib-tab>
        <uib-tab index="vm.team.custom_tabs.length+3" heading="Edit Tabs" ng-click="vm.showCustomTabsModal('edit')" ng-if="vm.isTeamOwner" ng-show="vm.team.custom_tabs.length > 0" class="action-tab"></uib-tab>
    </uib-tabset>
    <board display-obj-data="vm.displayObjData" display-obj-config="vm.displayConfig" 
           row-callback="[vm.showAddRunToUser, vm.showUserProfileModal]" is-owner="vm.isTeamOwner"
           show-callback-conditions="vm.showAddRunButton"></board>
</div>