<div id="team">
    <flash-message name="team_flash"></flash-message>
    <div id="team_header" class="board-title">
        <span>{{vm.team.name}}</span>
        
        <div class='board-header-btn-container'>
            <button type="button" class="btn btn-primary addMemberBtn" ng-click="vm.showAddTeamMemberModal()" ng-show='vm.isTeamOwner'>
                Add Team Member
            </button>
        </div>
    </div>
    <uib-tabset>
        <uib-tab index="0" heading="All" ng-click="vm.showFilteredTable(0)"></uib-tab>
        <uib-tab index="$index+1" ng-repeat="tab in vm.team.custom_tabs" heading="{{tab.heading}}" ng-click="vm.showFilteredTable($index+1)"></uib-tab>
        <uib-tab index="vm.team.custom_tabs.length+2" heading="+" ng-click="vm.showCreateTabModal()" ng-show="vm.hasCustomTabs !== false"></uib-tab>
    </uib-tabset>
    <board display-obj-data="vm.displayObjData" display-obj-config="vm.displayConfig" row-callback="vm.showAddRunToUser" is-owner="vm.isTeamOwner"></board>
</div>