<div id="team">
    <flash-message name="team_flash"></flash-message>
    <div id="team_header" class="board-title">
        <span>{{vm.team.name}}</span>
        <div class='board-header-btn-container'>
            <button type="button" class="btn btn-primary addMemberBtn" ng-click="vm.showAddTeamMemberModal()" ng-show='vm.isTeamOwner'>
                Add Team Member
            </button>
        </div>
    </div>
    <board display-obj-data="vm.displayObjData" display-obj-config="vm.displayConfig" row-callback="vm.showAddRunToUser" is-owner="vm.isTeamOwner"></board>
</div>