//= require angular-bootstrap/ui-bootstrap-csp.css
@import "/bootstrap_and_overrides.css.less";

@import "twitter/bootstrap/bootstrap";

// Core variables and mixins
@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

// Reset and dependencies
@import "twitter/bootstrap/normalize.less";
@import "twitter/bootstrap/print.less";
//@import "twitter/bootstrap/glyphicons.less"; // Excludes glyphicons

// Core CSS
@import "twitter/bootstrap/scaffolding.less";
@import "twitter/bootstrap/type.less";
@import "twitter/bootstrap/code.less";
@import "twitter/bootstrap/grid.less";
@import "twitter/bootstrap/tables.less";
@import "twitter/bootstrap/forms.less";
@import "twitter/bootstrap/buttons.less";

@import "twitter/bootstrap/navs.less";
@import "twitter/bootstrap/navbar.less";

@red: red;
@lightgray: lightgray;
@darkgray: darkgray;
@white: white;

.page-container {
    height:100%;
    position: relative;
    width: 66%;
    margin: 0px auto;
}

#board-container {
    >span{
        font-size: 2.5rem;
        position: relative;
        margin: 0px auto;
        display: block;
        width: 33%;
    }
}

.modal-flash {
    text-align: center;
}

///// angular ui modal overides /////
//angular ui modal overrides
.modal {
    display: block;
    height: 100vh;
    min-height: 300px;
}
.modal-content {
    border: none;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header{
    font-size: 2rem;
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}

///// INDEX /////
#index_flash {
    position: absolute;
    z-index: 999;
    left: 50%;
    top: 0px;
}

///// BOARDS /////
.board-title {
    text-align: center;
        margin-bottom: 10px;
        >span {
            font-size: 2.5rem;
        }
}

#board-container {
    >#table_filter {
        position: absolute;
        left: 75%;
        top: 0px;
        width: 25%;
        padding: 6px 5px;
        border-radius: 3px;
        border: 1px solid @darkgray;
        letter-spacing: .5px;
        text-align: right;

        @media(max-width: 412px) {
            left: 80%;
            top: 19%;
        }

        &::placeholder {
            text-align:right;
        }
    }
}

#board {
    //margin-top: 45px;
    >tbody>tr> {
        font-size:1.7rem;
        th {
            &:hover {
                cursor: pointer;
            }
            >i {
                margin-left: 5px;
            }    
        }
    }  
}
///// Nav /////
#nav-container {
    >miles-header {
        >.site-header>.navbar{
            >.navbar-header>.user-nav{
                display: none;
                //visibility: hidden;
                float: right;
                @media(max-width: 767px) {
                    display: block;
                    >a {
                        position: relative;
                        display: block;
                        padding: 15px 15px;
                        line-height: 20px;
                    }
                }
            }
            >.navbar-collapse {
                >ul>li>a>i{
                    padding-left: 5px;
                }
                >.user-nav {
                    float: right;
                    margin-right: 5%;
                    >a {
                        position: relative;
                        display: block;
                        padding: 15px 15px;
                        line-height: 20px;
                    }
                    @media(max-width: 767px) {
                        float:none;
                    }
                }
            }
        }
    }
}

///// FORM VALIDATION ////

.field-invalid {
    border-color: red !important;
    -webkit-box-shadow: inset 0 1px 1px red;
     box-shadow: inset 0 1px 1px red !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.text-error {
    color:red;
}

.input-and-message {
    >small {
        display: inline;
        margin-left: 5px;
    }
}

///// LOGIN AND REGISTRATION /////
#login-container {
    text-align: center;
    margin-top: 20vh;

    >flash-message {
        position: absolute;
        top: -15%;
        left: 0;
        width: 100%;
    } 

    >.title {
        font-size: 4rem;
        display: block;
    }
    
    >.subtitle {

    }

    >#tabs-container {
        text-align: left;
        position: relative;
        margin: 0px auto;
        margin-top: 30px;
        width: 30%;

        >ul>.hidden-tab {
            // opacity: 0;
            // visibility: hidden;
            // webkit-box-shadow: none !important;
            // box-shadow: none !important;
            // border:none;
            display: none !important;
        }

        >.tab-content {
            border: 1px solid lightgrey;
            border-top: none;
            padding: 10px 10px 10px 10px;

            >.btn {
                position: relative;
                display: block;
                margin: 0px auto;
                width: 75px;
            }

            >.tab-pane {
                >ng-include {
                    >#newMemberForm {
                        >.form-control>#owner_tick {
                            width: 20px;
                            display: inline;
                            padding: 0;
                            margin: 0;
                            vertical-align: bottom;
                            position: relative;
                            top: -1px;
                            overflow: hidden
                        }
                        >.form-control>#owner_tick_label {
                            display: inline-block;
                        }

                        
                    }
                }
            }
        }
    }
}

#waiver-container {
    >#waiver {
        >p {
            border: 1px solid @lightgray;
            border-radius: 3px;
            padding: 5px;
            padding-top: 7px;
            margin: 5px 0px;
        }
    } 
}

#loginForm {
    >#form-actions {
        display: inline-block;
    }
    >#auth-actions {
        display: inline-block;
        float: right;
        >span {
            display: block;
            font-size: 1.4rem;
        }
    }
}

 #owner_tick {
    width: 20px;
    display: inline;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    overflow: hidden
}
#owner_tick_label {
    display: inline-block;
}

#loginModal {
    >.modal-dialog>.modal-content {
        background-color: transparent;
        webkit-box-shadow: none;
        box-shadow: none;
        >.modal-body {
            padding: 0;
            >#tabs-container{
                >.nav {
                    >li {
                        webkit-box-shadow: -1px -4px 5px 1px rgba(0, 0, 0, 0.25);
                        box-shadow: -2px -4px 5px 1px rgba(0, 0, 0, 0.25);
                    }
                    >.inactive {
                        background-color: @lightgray;
                        border-top-right-radius: 3px;
                        border-top-left-radius: 3px;
                    }
                    >.hidden-tab {
                        // opacity: 0;
                        // visibility: hidden;
                        // webkit-box-shadow: none !important;
                        // box-shadow: none !important;
                        // border: none;
                        display: none;
                    }
                }
                >.tab-content {
                    background-color: white;
                    padding: 10px;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 3px;
                    border-top-right-radius: 3px;
                    @media(min-width: 768px) {
                        webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
                    }
                }
            }

            >flash-message {
                text-align: center;
            }
        }
    }
}

///// PROFILE /////
#userProfile {
    >.board-title {
        position: relative;
        width: 65%;
        float: right;
        margin-bottom: 25px;
    }

    >section {
        display: inline-block;
        
        >board{
            
            >#board-container {
                margin-top: 5px;
            }
        }
    }
    >#user-info {
        width: 30%;
        margin: 5px 5px 0px 0px;
        padding-right: 14px;
        
        >#profile_image {
            max-width:100%;
            height: auto;
        }

        >.profileActionButton {
            margin-bottom: 15px;
        }
    }

    >#user-runs-board {
        width: 69%;
    }
}

///// Profile Modal /////
#userProfileModal>.modal-dialog {
    width: 900px;
}
#userProfile.profile_modal{
    >#user-info>#profile_image>img {
        width: 175px;
        height: auto;
    }
}


@media(orientation: portrait) and (max-width: 414px)  {
        
        #userProfile {
            >#user-info {
                max-width: 150px;
                margin-bottom: 15px;
            }
        }
    }

@media(max-width: 768px) {
        #userProfile>{
            .board-title {
                float: none;
            }

            >#user-info {
                width: 100%;
                margin-bottom: 15px;
                >#profile_image {
                    width: 150px;
                }
            }

            >#user-runs-board {
                width: 100%;
            }
        }
    }

    
                    

//// TEAMS /////
#team {
    >#team_header{
        >span {
            padding-right: 15px;
        }
        >.board-header-btn-container {
            display: block;
            position: relative;
            width: 100%;
            height: 35px;
            >.btn-group {
                position: absolute;
                left: 0px;
            }
        }
    }
}

#all_teams {
    >board>#board-container>#table_filter {
        top: -2%;
    }
}

@media(max-width: 1024px) {
    #login-container>#tabs-container {
        width:60%;
    }
}

@media(max-width: 667px) {
    #login-container>#tabs-container {
        width:97%;
    }
}

///// CUSTOM TABS MODALS /////
#editTabModal {
    >.modal-dialog>.modal-content>.modal-body> {
        >uib-accordion {
            >.panel-group>.panel-default>.panel-collapse>.panel-body>.show-second-condition{
                display: block;
                font-size: 1.6rem;
                margin: 8px 0px 15px 0px;
            }
        }
    }
}

#createTabModal {
    >.modal-dialog>.modal-content>.modal-body> {
        >#createTabForm {
            >label,div>label {
                font-size: 1.7rem;
                font-weight: 500;
            }
            >.cf-input {
                margin: 3px 0px 15px 0px;

                >label {
                    font-size: 1.7rem;
                    font-weight: 500;
                }
            }
        }
    }
}

#no-tabs-message {
    font-size: 1.8rem;
    text-align: center;
    color: gray;
}

///// CUSTOM FILTERS /////
custom-filter {
    >span {
        font-size: 1.8rem;
    }
    >.cf-input {
        margin: 3px 0px 15px 0px;
    }
}