<div id="editTabModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span>Edit Tabs</span>
            </div>
            <div class="modal-body createTab-container">
                <uib-accordion close-others="{{false}}">
                    <div uib-accordion-group class="panel-default" heading="{{tab.heading}}" 
                                                                   ng-repeat="tab in vm.tabs">
                        <custom-filter index="$index" filter-index="0" object-type="team" field-change="vm.setFilterField" 
                                                                 comparator-change="vm.setComparator" 
                                                                 value-change="vm.setValue"
                                                                 initial-field="tab.custom_filters[0].filter_field"
                                                                 initial-comparator="tab.custom_filters[0].comparator"
                                                                 initial-value="tab.custom_filters[0].filter_value"
                                                                 show-filter-field="true">
                        </custom-filter>
                        <custom-filter index="$index" filter-index="1" object-type="team" ng-show="tab.showSecondCondition === true"
                                                                 field-change="vm.setFilterField" 
                                                                 comparator-change="vm.setComparator" 
                                                                 value-change="vm.setValue"
                                                                 initial-field="tab.custom_filters[1].filter_field" 
                                                                 initial-comparator="tab.custom_filters[1].comparator" 
                                                                 initial-value="tab.custom_filters[1].filter_value"
                                                                 show-filter-field="false">
                        </custom-filter>
                        <span class="show-second-condition" ng-click="tab.showSecondCondition = !tab.showSecondCondition"><a>{{tab.showSecondCondition ? 'Do Not Use Second Condition -' : 'Add Second Condition +'}}</a></span>
                        <button class="btn btn-primary" ng-show="vm.delete_first_click === false" ng-click="vm.delete_first_click = true">Delete Tab</button>
                        <button class="btn btn-danger" ng-show="vm.delete_first_click === true" ng-click="vm.deleteTab($index)">Confirm Delete</button>
                        <button class="btn btn-primary" ng-show="vm.delete_first_click === true" ng-click="vm.delete_first_click = false">Cancel</button>
                    </div>
                </uib-accordion>
                <div id="no-tabs-message" ng-show="vm.tabs.length === 0">
                    <p>No Tabs Available to Edit</p>
                </div>
            </div>
            <div class="modal-footer">
                <div id="form-actions">
                    <button type="submit" class="btn btn-primary" ng-click="vm.save()" ng-disabled="vm.tabs.length === 0">Save</button>
                    <button class="btn btn-primary" ng-click="vm.cancel()"> Close</button>
                </div>  
            </div>
            <flash-message class="modal-flash" name="editTab_flash"></flash-message>
        </div>
    </div>
</div>