<!DOCTYPE html>
<html>
  <head>
    <title>BornToRun</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body ng-app="myApp">
    <ui-view></ui-view>
  </body>
</html>
